* {
  margin: 0px;
}

body {
  background-color: whitesmoke;
}

nav {
  background-color: white;
}

header {
  background-color: white;
}

/* ---------YLÄKOMPONENTIT----------- */

#parentbox {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#arvattavasana {
  padding: 10px;
  text-align: center;
}

/* ------------SKETCHBOX---------- */

#sketchbox {
  width: 100%;
}

#piirtoalusta {
  width: 50%;
  height: 50%;
}

/* -----------SOCKET BOX-------------- */

#socketbox {
  width: 98vw;
  padding: 10px;
  box-sizing: border-box;
}

hr {margin-bottom: 5px; margin-top: 5px;}

#viestitys {
  background-color: white;
  box-sizing: border-box;
  height: 10%;
  width: 100%;
  padding: 10px;
}

#keskustelu {
  background-color: white;
  height: 100px;
  width: 100%;
}

#listauspelaajat {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 10px;
}

#scores {
  margin: 5px;
}

#sending {
  margin-left: 2%;
}

#filled-basic {
 width: 68vw;
}

/* ------PROFIILI TAB -----------*/

#profiili {
  background-color: lightyellow;
}

/* ------LANDING PAGE -----------*/

.tausta {
  background-image: url(images/taustakuva.png);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /*centers items on the line (the x-axis by default)*/
  align-items: center;
  /*centers items on the cross-axis (y by default)*/
  position: relative;
  display: flex;
}