nav {
  background-color: whitesmoke;
}

header {
  background-color: aliceblue;
}

/* ---------komponentit----------- */

#parentbox {
  background-color: yellow;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}



#sketchbox {
  background-color: purple;
}

#socketbox {
  background-color: papayawhip;
}



#piirtoalusta {
  background-color: wheat;
}

#arvattavasana {
  background-color: antiquewhite;
}

#arvaukset {
  background-color: azure;
}



#listauspelaajat {
  background-color: mistyrose;
}

#viestitys {
  background-color: red;
}

#keskustelu {
  background-color: lime;
  height: 100px;
  width: 100px;
}

#profiili {
  background-color: lightyellow;
}
/* 
-----Niina */