/* TÄMÄ ON MODAUS ON ENSIJAISESTI MOBIILIA VARTEN */

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
}

nav {
  background-color: white;
}

header {
  background-color: white;
}

/* ---------YLÄKOMPONENTIT----------- */


.container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
}

/* ------------SKETCHBOX---------- */

#sketchbox {
  width: 100%;
}

#toolit {
  width: 90%;
  margin-left: 23%;
}

#undobtn {
  margin-left: 5px;
}

/* -----------SOCKET BOX-------------- */

#socketbox {
  width: 95vw;
  overflow-x: hidden;
}

#keskustelu {
  background-color: whitesmoke;
  height: 150px;
  padding-top: 5px;
  width: 95%;
  margin-left: 5%;
  margin-bottom: 15px;
  margin-top: 15px;
}

#viestitys {
  background-color: white;
  height: 10%;
  width: 95%;
  margin-left: 5%;
}

#filled-basic {
  width: 89vw;
  margin-top: 15px;
  padding: 10px;
}

#sending {
  width: 90vw;
  margin-top: 15px;
  padding: 10px;
}

#scores {
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  margin-top: 15px;
  width: 90vw;
  padding: 10px;
}

/* -------- pelaajat komponentti -------*/

#listauspelaajat {
  width: 90vw;
  height: auto;
  margin-top: 15px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5%;
}

/* ------PROFIILI TAB -----------*/

#profiili {
  background-color: lightyellow;
}

/* ------LANDING PAGE -----------*/

.tausta {
  background-image: url(images/taustakuva.png);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /*centers items on the line (the x-axis by default)*/
  align-items: center;
  /*centers items on the cross-axis (y by default)*/
  position: relative;
  display: flex;
}